.header{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 1em;
}

.nav-menu{
    display: flex;
}
.nav-menu  li{
    
    display: flex;
    padding: 1em;
}
.nav-menu li a{
text-decoration: none;
font-size: 1.2rem;
font-weight: 500;}

@media screen and(max-width:100%){
    .nav-menu a{
     flex-direction: column;
     justify-content: center;
     align-items: center;
         width:100% ;
       height: 100vh;
    z-index:0;
    } 

}
